.innerContent {
    background-color: var(--bg-ter-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.contents {
    justify-content: center;
    align-items: center;

}

.field {
    width: 100%;
    margin: 0;
}

.msg {
    font-size: 4rem;
    margin: 0px;
    transition: margin ease-in-out .2s,font-size ease-in-out .2s;
}
.msg:hover {
    margin-bottom: 10px;
}
.textDescription {
    font-size: .7rem;
    text-align: center;
}

.separationSection {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    margin: 0px;
    background-color: var(--bg-sec-color);
    padding: 10px;
}

.title {
    display: flex;
    margin: 0px;
    font-size: small;
}

.signinbutton {
    opacity: 1;
    font-weight: bold;
    margin: 20px;
    color: white;
    padding: 1vh;
    background-color: var(--primary-color);
    transition: padding ease-out 0.2s, opacity ease-out 0.2s;
}
.signinbutton:hover {
    opacity: 0.7;
    padding: 2vh;
}
.overflowInnercontent {
    z-index: 1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}


.fieldcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}
.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.07;
}