
@import url('https://fonts.googleapis.com/css2?family=Alata&family=VT323&display=swap');


:root {
  --primary-color: #2a2e83;
  --secondary-color: #ffdd00;
  --bg-color: #d4d4ee;
  --text-color: #5f5f79;
  --bg-sec-color: #c1c1e4;
  --input-color: #a4a4c9;
  --global-padding-small: 5vh;
  --global-padding-medium: 10vh;
  --global-padding-big: 20vh;
  --global-fontsize-small: 1rem;
  --global-fontsize-medium: 2rem;
  --global-fontsize-big: 3rem;
  --global-gap-small: 10px;
  --global-gap-medium: 20px;
  --global-gap-big: 30px;
  font-family: "Alata", monospace;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {

  font-weight: bold;
  color: var(--text-color);
  user-select: none;
  font-size: var(--global-fontsize-big);
}

h2 {
  font-weight: lighter;
  color: var(--text-color);
  user-select: none;
}

h3 {
  font-weight: bold;
  color: var(--text-color);
  opacity: .7;
  user-select: none;
}

input {
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--input-color);
  border: 0;
  margin: 10px;
  text-align: start;
}

button {
  font-family: "Figtree", monospace;
  border-radius: 4px;
  border: 0;
}

input::placeholder {
  color: var(--text-color);
  opacity: .4;
}
input:focus {
    outline: 2px solid var(--primary-color);
    opacity: 0.8;
  }
a {
  color: var(--primary-color);
}
p {
    color: var(--text-color);
}